.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  border: 2px solid red;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.welcome{
  position: absolute;
  bottom: 10%;
  color: yellow;
  gap: 10px;
  display: flex;
  font-size: small;
  font-family: 'Times New Roman', Times, serif;
  flex-wrap: wrap;

}
.App-header {
  position: relative;
  background: #333;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header-text {
  position: absolute;
  top: 80vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
